html {
  scrollbar-width: none;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  overflow: auto;
  position: relative;
}

body::-webkit-scrollbar {
  display: none;
}

.navbar {
  display: flex;
  position: sticky;
  top: 0;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
  border-bottom: 2px solid black;
  align-items: center;
  margin-bottom: 2px;
  padding: 8px 15px;
  z-index: 1000;
}

.logo {
  text-decoration: none;
  font-size: 24px;
  font-weight: 900;
  color: rgb(0, 0, 0);
  padding: 10px;
}

nav {
  display: flex;
  gap: 20px;
}

nav a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-weight: 500;
  padding: 10px;
}

nav a:hover {
  background-color: #7289dd;
  color: rgb(255, 255, 255);
  border-radius: 8px;
}

.menu-toggle {
  display: none;
}

/* Tampilan Mobile */
@media (max-width: 768px) {
  body {
    margin: 0;
    padding: 0;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    box-sizing: border-box;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  .logo {
    order: 2;
    margin-left: auto;
  }

  .menu-toggle {
    display: block;
    font-size: 30px;
    cursor: pointer;
    order: 1;
  }

  nav {
    display: none;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    position: absolute; /* Menjauhkan dropdown dari navbar */
    top: 100%; /* Menurunkan dropdown ke bawah navbar */
    left: 0;
    background-color: white; /* Memberikan latar belakang dropdown agar terlihat */
    width: 100%;
    z-index: 999; /* Pastikan dropdown berada di atas konten lainnya */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Tambahkan bayangan untuk dropdown */
  }

  nav a {
    display: block;
    width: 100%;
    text-align: left;
    padding: 10px 20px;
    box-sizing: border-box;
  }

  .menu-toggle.active ~ nav {
    display: flex;
  }

  nav.show {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  /* Menyembunyikan GALERI pada tampilan mobile */
  .hidden-mobile {
    display: none;
  }
}

#home {
  margin: 0 auto;
  padding: 15px;
  min-height: 100vh;
  position: relative;
  text-align: center;
  color: rgb(246, 246, 246);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
}

#home img {
  position: absolute;
  border-radius: 10px;
  width: 98%;
  height: 96%;
  object-fit: cover;
  z-index: -1;
  filter: brightness(0.9);
}

#home p {
  text-align: center;
  font-size: 6vw;
  font-weight: 900;
  color: white;
  opacity: 50%;
}

/* Tampilan Default (Desktop) */
@media (max-width: 768px) {
  body,
  html {
    margin: 0;
    padding: 3px;
    overflow-x: hidden; /* Mencegah scroll horizontal */
  }

  #home {
    padding: 50px 10px;
    min-height: 50vh;
    align-items: center; /* Pastikan elemen tetap di tengah */
  }

  #home img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
  }

  #home p {
    font-size: 12vw; /* Perbesar untuk tampilan mobile */
    opacity: 80%;
  }
}

#info {
  margin: 0 auto;
  padding: 15px;
  display: flex;
  align-items: center;
  min-height: 70vh;
}

#info img {
  width: 35%;
  height: 50%;
  border-radius: 80px 0;
  margin-right: 120px;
  display: flex;
  align-items: center;
}

.text-content {
  display: flex;
  flex-direction: column;
  max-width: 40%;
}

#info h1,
#info p {
  color: rgb(0, 0, 0);
  text-align: left;
  z-index: 1;
}

#info h1 {
  font-size: 3vw;
  margin: 20px 0;
}

#info p {
  font-size: 1.5vw;
  margin: 10px 0;
  line-height: 1.5;
}

/* Desain untuk mobile */
@media screen and (max-width: 768px) {
  #info {
    flex-direction: column;
    padding: 10px;
    min-height: 50vh;
  }

  #info img {
    display: none; /* Menyembunyikan gambar di layar mobile */
  }

  .text-content {
    max-width: 100%;
    text-align: center;
  }

  #info h1 {
    font-size: 6vw;
    margin: 15px 0;
  }

  #info p {
    font-size: 4vw;
    margin: 8px 0;
    line-height: 1.5;
  }
}

#fakta {
  margin: 0 auto;
  padding: 15px;
  min-height: 50vh;
}

h1 {
  font-size: 40px;
  margin-bottom: 10px;
  text-align: center;
}

p {
  font-size: 18px;
  color: #000000;
  margin-bottom: 100px;
  margin-top: 50px;
  text-align: center;
}

.card-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 100px;
}

.card-container a {
  text-decoration: none;
  color: inherit;
}

.card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.1);
  width: 18%;
  margin-bottom: 20px;
  overflow: hidden;
  text-align: left;
  min-height: 300px;
  max-height: 300px;
  display: flex;
  flex-direction: column;
  transition: background-color 0.5s ease, color 0.3s ease-in;
}

.card img {
  width: 100%;
  height: auto;
  max-height: 110px;
  object-fit: cover;
}

.card-content {
  padding: 15px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: flex-start;
  overflow: hidden;
}

.card-content h3 {
  font-size: 20px;
  margin: 0;
  transition: color 0.2s ease;
}

.card-content p {
  text-align: start;
  font-size: smaller;
  color: #000000;
  line-height: 1.4;
  margin-top: 8px;
  flex-grow: 1;
  display: flex;
  align-items: flex-start;
  transition: color 0.2s ease;
}

.card:hover {
  background-color: #7289dd;
  color: white;
}

.card:hover h3,
.card:hover p {
  color: white;
}

/* Desain untuk mobile */
@media screen and (max-width: 768px) {
  #fakta {
    padding: 10px;
  }

  h1 {
    font-size: 28px;
    margin-bottom: 10px;
  }

  p {
    font-size: 16px;
    margin-bottom: 50px;
    margin-top: 20px;
  }

  .card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }

  .card {
    width: 90%;
    margin-bottom: 20px;
    min-height: 250px;
    max-height: 250px;
  }

  .card img {
    max-height: 100px;
  }

  .card-content {
    padding: 10px;
  }

  .card-content h3 {
    font-size: 18px;
  }

  .card-content p {
    font-size: 14px;
  }
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  position: relative;
  overflow: hidden;
}

#galeri img {
  height: 360px;
  width: auto;
  margin: 3px;
  object-fit: cover;
  border-radius: 8px;
  transition: transform 0.3s ease, filter 0.3s ease;
}

.galeri-item-1,
.galeri-item-5 {
  width: 100px;
  height: 100px;
}

#galeri img:hover {
  filter: brightness(0.8);
}

/* Desain untuk mobile */
@media screen and (max-width: 768px) {
  #galeri {
    display: none; /* Sembunyikan galeri pada layar kecil */
  }
}

#lokasi {
  padding: 15px;
  text-align: center;
}

h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

p {
  font-size: 18px;
  margin: 5px 0;
}

.map {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  width: 100%;
}

.responsive-map {
  width: 100%;
  height: 500px;
  border: none;
  border-radius: 10px;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  #lokasi {
    padding: 15px;
    text-align: center;
  }

  h1 {
    font-size: 24px; /* Ubah ukuran font untuk judul */
    margin-bottom: 8px;
  }

  p {
    font-size: 16px; /* Ubah ukuran font untuk paragraf */
    margin: 4px 0;
  }

  .map {
    flex-direction: column;
    margin-top: 15px;
    width: 100%;
  }

  .responsive-map {
    width: 100%;
    height: 300px;
    border: none;
    border-radius: 10px;
    overflow: hidden;
  }
}
